html {
    height: 100%;
}

body {
    width: 700px;
    height: 600px;
}

html, body {
    position: relative;
    background-color: white; /* lighter-gray: #F2F2F2 */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#content-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

#right-anchor {
    width: auto;
    height: 100%;
    text-align: center;
    float: right;
    background-color: white;
    overflow: hidden;
}

#preview-window {
    width: 440px;
    height: 100%;
    float: left;
}

